@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using apbd_projekt.Shared
@attribute [Authorize]

<div class="card d-flex flex-column" style="@Style">
	@if (FullStock != null)
	{

		<!-- Okay, needing the api key just to pull the logo from their website is bullshit, also because it's visible from the frontend, and this entire thing -->
		@if (FullStock.LogoURL != null)
		{
			<img class="py-4" src="@FullStock.LogoURL?apiKey=Tnp2_HTpZRIDK2Jcrppho5lLwn1tUqI7" style="max-width: 8rem; margin: auto;"/>
		}
		<!-- Should be another backend request, to hide the API Key -->
		<!-- Todo: Devise a way to hide the api key here -->
		<!-- Presumably download the image to Server and use a local URL here -->



		<ul class="list-group list-group-flush">
			@if (FullStock.CompanyName != null)
			{
				<li class="list-group-item pb-0"><h5 class="card-title"><span class="badge btn-secondary">@FullStock.Ticker</span> @FullStock.CompanyName</h5></li>
			}
			@if (FullStock.Industry != null)
			{
				<li class="list-group-item">@FullStock.Industry</li>
			}
		</ul>

		<div class="card-body d-flex flex-grow-1" style="min-height: 25%; max-height:100%">

			@if (FullStock.Description != null)
			{
				<div class="overflow-auto">@FullStock.Description</div>
			}
		</div>

		<ul class="list-group list-group-flush">
			@if (FullStock.Country != null)
			{
				<li class="list-group-item">@(FullStock.Country.ToUpper())</li>
			}
		</ul>

		@ChildContent
	}
</div>

@code {
	#pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.

	[Parameter]
	public Stock FullStock { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string Style { get; set; }
}
